
            <footer id="footer" class="footer">
                <div class="footer-container">
                  <div class="footer-flex jcc">
                    <div class="footer-item">
                      <h4 class="h4">Mobile Shopping</h4>
                      <p class="footer-item-text">
                        welcome to our new website where you can find trend clothes. </p>
                    </div>
                    <div class="footer-item">
                      <h4 class="h4">Information</h4>
                          <div class="item-3">
                            <a href="#" class="">About us</a>
                            <a href="#" class="">Delivery information</a>
                            <a href="#" class="">Privacy Policy</a>
                            <a href="#" class="">Terms & Condition</a>
                          </div>
                    </div>
                    <div class="footer-item">
                      <h4 class="h4">Account</h4>
                      <div class="item-4">
                        <a href="#" class="">My Account</a>
                        <a href="#" class="">Order History</a>
                        <a href="#" class="">Wish list</a>
                        <a href="#" class="">Newsletter</a>
                      </div>
                    </div>
                  </div>
                </div>
              </footer>


