{% load static %}
{% load cart_template_tags %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Django Ecom </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
          integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous"/>
 <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
</head>

<body>

{% include 'header.html' %}

<div class="site-blocks-cover" style="background-image: url(../static/images/hero.jpg);" data-aos="fade">
</div>



        <footer id="footer" class="footer">
            <div class="footer-container">
              <div class="footer-flex">
                <div class="footer-item">
                      <h4 class="h4">Mobile Shopping</h4>
                      <p class="footer-item-text">
                        welcome to our new website where you can find trend clothes. Here the clothes for all colours and size. </p>
                    </div>
                <div class="footer-item" id="contact-none-form">
                  <h4 class="h4">Newsletter</h4>

                    <form method="POST">
                        {% csrf_token %}
                        {{ emailform|crispy }}
                        <button type="submit" class="btn" value="Submit message">Submit</button>
                    </form>
                </div>
                <div class="footer-item">
                  <h4 class="h4">Information</h4>
                      <div class="item-3">
                        <a href="#" class="">About us</a>
                        <a href="#" class="">Delivery information</a>
                        <a href="#" class="">Privacy Policy</a>
                        <a href="#" class="">Terms & Condition</a>
                      </div>
                </div>
                <div class="footer-item">
                  <h4 class="h4">Account</h4>
                  <div class="item-4">
                    <a href="#" class="">My Account</a>
                    <a href="#" class="">Order History</a>
                    <a href="#" class="">Wish list</a>
                    <a href="#" class="">Newsletter</a>
                  </div>
                </div>
              </div>
            </div>
          </footer>

{% include 'js_scripts.html' %}

</body>
</html>
